# Default owners for everything
*       @team-leads

/configuration-profile-backend/* @BackendLead

# Frontend specific files
/frontend/  @frontend-team

# Backend specific files
/backend/   @backend-team

# Infrastructure files
/.github/   @devops-team